


.text-effect-gradient {
  background: linear-gradient(180deg, #083c2f, #083c2f82); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* Ensure text color is transparent */
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.align-middle {
  vertical-align: middle;
}


